In [1]:
import pandas as pd
from sqlalchemy import create_engine

## Bring in csv files and load into dataframes

In [2]:
#Bring in life expectancy csv
le_file = "CSVs/life_expectancy.csv"
life_exp = pd.read_csv(le_file)
life_exp.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [3]:
# #Bring in food availability csv
# fa_file = "CSVs/FAO.csv"
# food = pd.read_csv(fa_file)
# food.head()

#Getting error here for some reason despite using multiple methods

In [4]:
#Bring in socioeconomic status csv
# ses_file = "CSVs/GLOB.SES.csv"
# ses = pd.read_csv(ses_file, encoding='utf-8')
# ses.head()

#Gets same error as above

## Cleaning of Data

#### Life Expectancy

In [5]:
life_exp.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5

In [6]:
#just show years of 2000 to 2010
life_exp = life_exp.loc[life_exp['Year']>=2000].loc[life_exp['Year']<=2010]
life_exp

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
5,Afghanistan,2010,Developing,58.8,279.0,74,0.01,79.679367,66.0,1989,...,66.0,9.20,66.0,0.1,553.328940,2883167.0,18.4,18.4,0.448,9.2
6,Afghanistan,2009,Developing,58.6,281.0,77,0.01,56.762217,63.0,2861,...,63.0,9.42,63.0,0.1,445.893298,284331.0,18.6,18.7,0.434,8.9
7,Afghanistan,2008,Developing,58.1,287.0,80,0.03,25.873925,64.0,1599,...,64.0,8.33,64.0,0.1,373.361116,2729431.0,18.8,18.9,0.433,8.7
8,Afghanistan,2007,Developing,57.5,295.0,82,0.02,10.910156,63.0,1141,...,63.0,6.73,63.0,0.1,369.835796,26616792.0,19.0,19.1,0.415,8.4
9,Afghanistan,2006,Developing,57.3,295.0,84,0.03,17.171518,64.0,1990,...,58.0,7.43,58.0,0.1,272.563770,2589345.0,19.2,19.3,0.405,8.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358879,12222251.0,11.0,11.2,0.434,9.8

In [15]:
# Rename life expectancy column
life_exp = life_exp.rename(columns={"Life expectancy ":"life_expectancy", "Country":"country","Year":"year","Status":"status"})
life_exp.head()

       country  year      status  life_expectancy
5  Afghanistan  2010  Developing             58.8
6  Afghanistan  2009  Developing             58.6
7  Afghanistan  2008  Developing             58.1
8  Afghanistan  2007  Developing             57.5
9  Afghanistan  2006  Developing             57.3

In [16]:
#Get only the columns we want
life_exp = life_exp.drop(life_exp.iloc[:, 4:22], axis = 1) 
life_exp.head()

       country  year      status  life_expectancy
5  Afghanistan  2010  Developing             58.8
6  Afghanistan  2009  Developing             58.6
7  Afghanistan  2008  Developing             58.1
8  Afghanistan  2007  Developing             57.5
9  Afghanistan  2006  Developing             57.3

In [17]:
#confirmation
life_exp.columns

Index(['country', 'year', 'status', 'life_expectancy'], dtype='object')

## Create database connection

In [18]:
import getpass
password = getpass.getpass()

Â·Â·Â·Â·Â·Â·Â·Â·

In [19]:
#Create connection
engine = create_engine(f"postgresql://postgres:{password}@localhost:5432/ETL_db")

In [20]:
# See tables
engine.table_names()

['life_expectancy']

## Load dataframe into table in database

In [21]:
# Putting data from life_exp dataframe into table in SQL
life_exp.to_sql(name='life_expectancy', con=engine, if_exists='append', index=False)

In [22]:
#confirm sql query from table
pd.read_sql_query("select * from life_expectancy", con=engine).head()

       country  year      status  life_expectancy
0  Afghanistan  2010  Developing               59
1  Afghanistan  2009  Developing               59
2  Afghanistan  2008  Developing               58
3  Afghanistan  2007  Developing               58
4  Afghanistan  2006  Developing               57